@import '../../../styles/abstracts/variables';

.customButton {
  display: inline-block;
  position: relative;
  background-color: transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
  padding: 0;

  .buttonBackground{
    padding:12px 34px;
    width:52%;
    overflow:hidden;
    transition: width 0.3s ease;
  }

  .buttonText{
    font-size: 28px;
    font-family: $font-heading;
    font-weight: 600;
    white-space: nowrap;
  }
  &:hover .buttonBackground {
    width:100%;
    overflow: visible;
    
  }
  &:focus{
    outline:none;
  }
  .buttonBackground_2{
    padding:12px 34px;
    width:5%;
    // transition: width 0.3s ease;
  }
}


@media (min-width:577px) and (max-width:768px){
  .customButton{
    .buttonText {
      font-size: $sub-heading-h4;
    }
    .buttonBackground{
      padding:12px 28px;
    }
    .buttonBackground_2{
      padding:12px 28px;
    }
  }
 
}

@media screen and (max-width:576px){
  .customButton{
    .buttonText {
      font-size: $sub-heading-h4;
    }
    .buttonBackground{
      padding:12px 28px;
    }
    .buttonBackground_2{
      padding:12px 28px;
    }
  }
}

