@import '@/styles/abstracts/variables';
.intro_section_container {
    padding: 72px 0px;
}
.team_message_container{
    padding:72px 300px;

    .team_message_title{
        text-align: center;
        margin-bottom:64px;
        font-size: $h2_large;
        font-weight: $font-weight-fw1;
        font-family: $font-heading;
    }
  
}
.benefits_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 400px));
    grid-gap: 35px;
    padding:0px 300px;
    justify-content: center;
    margin-top:64px;

    
}


.join_us_container{
    padding:72px 0 72px 0;
}
@media (min-width:577px) and (max-width:1200px) {

    .team_message_container{
        padding:30px 66px;
        .team_message_title{
            font-size: $h3_large;
            margin-bottom:48px;
    }
    }
    .join_us_container{
        padding:64px 0px 64px 0;
    }
    .benefits_container{
        padding:48px 66px 32px 66px;
        grid-template-columns: repeat(auto-fit, minmax(100px, 350px));
        margin-top:0px;
        
    }
    .intro_section_container {
        padding: 32px 0px;
    }
}

@media screen and (max-width:577px){
    .team_message_container{
        padding:30px 16px;
        .team_message_title{
            margin-bottom:15px;
            font-size: $h3_large;
            line-height:42px;
        }
    }
    .intro_section_container {
        padding:30px 16px;
    }

    .join_us_container{
        padding:30px 0px;
    }
    .benefits_container{
        padding:30px 16px;
    }
    .benefits_container{
        grid-template-columns: repeat(auto-fit, minmax(100px, 140px));
        margin-top:0;
        gap:16px;
    }
}

@media (min-width:1200px) and (max-width:1670px) {
    .team_message_container{
        padding:72px 150px;

    }
    .benefits_container{
        padding:72px 150px;
    }
}

@media (min-width:767px) and (max-width:900px) {
    .benefits_container{
        grid-template-columns: repeat(auto-fit, minmax(100px, 300px));
    }
}