@import "../../../styles/abstracts/variables";

.header {
  // background-color: $color-black;
  padding: 3.64vw 3.64vw 0;
  text-align: center;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 99;
  width: 100%;
  display: block;
  height: 73px;
  transition-duration: 0.3s;
}

.header h1 {
  color: $color-primary;
  font-size: 2rem;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  height: 100%;

  .navbar_options {
    color: $color-primary;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
  }

  .navbar_options h5 {
    margin-bottom: 0px;
    font-size: $p_large;
    font-family: $font-heading;
    font-size: $p_large;
    font-weight: $font-weight-fw3;
    line-height: 19px;
    letter-spacing: 0em;
    display: flex;
    align-items: center;
  }

  .link {
    color: $color-primary;
    text-decoration: none;
  }
}

.linkTextOnHover {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #131313 !important;

  &:hover {
    color: black;
  }

  &::after {
    background-color: #000000 !important;
  }
}

.header_mobile {
  display: none;
}

.nav_link {
  color: $color-black;
  text-decoration: none;
}

.nav_options_text {
  font-size: $p_small;
  font-weight: 500;
  margin: 0;
}

.menu-btn:hover {
  cursor: pointer;
}

.menu-btn:hover .dropdown_menu a {
  display: block;
}

.dropdown_menu a:hover {
  font-weight: bold;
  color: white;
}

.dropdown_menu {
  position: absolute;
  top: 100%;
  border-radius: 10px;
  overflow: hidden;
  perspective: 1000px;
  z-index: -1;
  background-color: $color-dark-grey;
}

.dropdown_menu a {
  display: none;
  color: $color-primary;
  padding: 0.5rem;
  text-decoration: none;
  font-size: $p_small;
  opacity: 1;
}

.menu-btn:hover .dropdown_menu_animated {
  display: block;
  width: 7rem;
  transition-delay: 5s;
}

.dropdown_menu_animated {
  display: none;
  opacity: 0;
}

.dropdown_menu_animated a {
  display: block;
  opacity: 1;
}

// mobile drag menu
.drag_menu {
  position: absolute;
  background-color: #424242;
  width: 100%;
  left: 0px;
  height: 100vh;
  top: 0;
  opacity: 1;
  padding: 22px;
}

.inner_container_mob {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.logo_menu {
  color: white;
}

.logo_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.menu_list_container {
  color: white;
  display: grid;
  grid-template-columns: auto;
  gap: 20px;
  justify-content: flex-start;
  text-align: left;
  font-weight: 700;
  color: white;
}

.drag_left_menu_animated {
  transition-delay: 5s;
}

.drag_left_menu_8 {
  animation: dragLeft 800ms ease-in-out;
  transform-origin: top right;
}

.policy_text {
  text-align: left;
  color: #fff;
  font-size: $p_large;
  font-family: $font-paragraphs;
}

.social_icons {
  display: flex;
  align-items: center;
  margin: 22px 0px;
}

.btnn {
  text-decoration: none;
  border: 0;
  background-color: transparent;
}

.btnn:focus {
  outline: none;
}

// for sub menu
.dropdown_menu_sub_menu {
  animation: dragLeftSubmenu 800ms ease-in-out;
  transform-origin: right;
}

@keyframes dragLeft {
  0% {
    opacity: 0.9;
    transform: translateX(100vw);
  }

  100% {
    opacity: 1;
    transform: translateX(0vw);
  }
}

@keyframes dragLeftSubmenu {
  0% {
    opacity: 0;
    transform: translateX(10vw);
  }

  100% {
    opacity: 1;
    transform: translateX(0vw);
  }
}

@media screen and (max-width: 1200px) {
  .navbar_options {
    gap: 20px !important;
  }
}

@media screen and (max-width: 992px) {
  .header {
    padding: 1.2vw 1.2vw !important;
  }

  .navbar_options {
    gap: 20px;
  }

  .navbar_options h5 {
    font-size: $p_small;
  }
}

@media screen and (max-width: 992px) {
  .header_mobile {
    display: block !important;
    padding: 0 20px;
    text-align: center;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 99;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }

  .header {
    display: none !important;
  }

  .nav_mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar_toggler {
    padding: 0;
  }

  .navbar_toggler:focus,
  .navbar_toggler_icon:focus {
    outline: none;
    box-shadow: none;
  }

  .navbar_toggler {
    border: 0px;
    background-color: transparent;
  }

  .navbar {
    display: inline-block;
  }

  .navbar_collapse {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 1rem;
    text-align: left;
  }

  .toggle_nav_links {
    font-size: $h3_small;
    font-weight: 600;
  }
}