@import "@/styles/abstracts/_variables";

.container {
  margin-top: 24px;
  display: flex;
  overflow: hidden;
  video {
    width: 50%;
    object-fit: cover;
  }
  .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffc905;
    padding: 120px 0 50px 0;
    h2 {
      font-family: $font-heading;
      font-size: $h2_large;
      margin: 0;
      padding: 5px 50px;
      color: #000;
    }
    h3 {
      padding: 10px 50px;
      font-size: $h2_large !important;
      background-color: #388e3c;
      font-family: $font-heading;
      color: white;
    }
    p {
      margin: 0;
      padding: 30px 50px 0 50px;
      margin-bottom: 30px;
      font-family: $font-paragraphs;
      font-size: $p_large !important;
      line-height: 36px;
    }
    .arrow_container {
      padding: 0px 100px;
      margin-left: auto;
      animation: SHM 2s ease-in-out infinite;
      .rightArrow {
        cursor: pointer;
      }
    }
  }
  .mob_description {
    display: none;
  }
}

@keyframes SHM {
  0% {
    transform: translate(0px);
  }
  50% {
    transform: translate(20px);
  }
  100% {
    transform: translate(0px);
  }
}

@media screen and (max-width: 1710px) {
  .container {
    .description {
      padding: 80px 0 30px 0;
      h2 {
        font-size: $h2_large;
        padding: 5px 40px;
      }
      h3 {
        padding: 10px 40px;
        font-size: $h3_large;
      }
      p {
        padding: 20px 40px 0 40px;
        margin-bottom: 30px;
        font-size: $p_large;
        line-height: $p_large * 1.5;
      }
      .arrow_container {
        padding: 0px 80px;
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .container {
    .description {
      padding: 80px 0 30px 0;
      h2 {
        font-size: $h3_large;
        padding: 5px 30px;
      }
      h3 {
        padding: 10px 30px;
        font-size: $h2_large;
      }
      p {
        padding: 20px 30px 0 30px;
        margin-bottom: 20px;
      }
      .arrow_container {
        padding: 0px 70px;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .container {
    .description {
      padding: 80px 0 20px 0;
      h2 {
        font-size: $h3_large;
        padding: 5px 20px;
      }
      h3 {
        padding: 10px 20px;
        font-size: $h3_large;
      }
      p {
        padding: 20px 20px 0 20px;
        margin-bottom: 20px;
      }
      .arrow_container {
        padding: 0px 60px;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .container {
    flex-direction: column;
    justify-content: center;
    gap: 0;
    .mob_description {
      display: block;
      padding: 60px 0 40px 0;
      height: 100%;
      background-color: #ffc905;
      h2 {
        font-size: $h2_large;
        padding: 5px 30px;
        font-weight: 500;
      }
      h3 {
        padding: 10px 30px;
        font-size: $h2_large;
        background-color: #388e3c;
        color: #fff;
      }
    }
    video {
      width: 100%;
      height: 513px;
      object-fit: cover;
    }
    .description {
      padding: 40px 0 20px 0;
      height: 100%;
      h2 {
        display: none;
      }
      h3 {
        display: none;
      }
      p {
        font-size: $p_large;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .container {
    .mob_description {
      padding: 40px 0 30px 0;
      h2 {
        font-size: $h2_small;
        padding: 5px 30px;
      }
      h3 {
        font-size: $h2_large;
        padding: 10px 30px;
      }
    }
    .description {
      padding: 40px 0 20px 0;
      p {
        padding: 20px 30px 0 30px;
        font-size: $p_small;
      }
    }
  }

  @media screen and (max-width: 576px) {
    .container {
      margin-top: 40px;
      .mob_description {
        padding: 20px 0 20px 0;
        h2 {
          font-size: $h4_large;
        }
        h3 {
          font-size: $h4_large;
        }
      }
      .description {
        padding: 25px 0 20px 0;
        p {
          font-size: $p_small !important;
          padding: 10px 30px 0 30px;
        }
      }
    }
  }
}
