@import "@/styles/abstracts/variables";

.container {
  margin-top: 80px;
  // padding: 0px 72px;
  // background-color: #f2f2f2;
}

.heading_comp {
  padding: 0px !important;
}

.heading {
  font-family: $font-heading;
  font-size: $h2_large;
  font-weight: $font-weight-fw1;
  line-height: $h2_large * 1.25;
  letter-spacing: 0em;
  text-align: center;
}

.subheading {
  font-family: $font-paragraphs;
  font-size: $p_large;
  font-weight: $font-weight-fw4;
  line-height: $p_large * 1.5;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 24px;
}

.team_card_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 22px;
  margin-top: 80px;
}

@media screen and (max-width: 1200px) {
  .heading {
    font-size: $h2_small;
    line-height: $h2_small * 1.25;
  }

  .subheading {
    font-size: $p_large;
    line-height: $p_large * 1.25;
  }

  .team_card_container {
    margin-top: 48px;
  }

  .client_list {
    margin-top: 48px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    margin-top: 60px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    margin-top: 40px;
  }
  .heading {
    font-size: $h2_small;
    line-height: $h2_small * 1.25;
  }

  .subheading {
    font-size: $p_small;
    line-height: $p_small * 1.5;
  }

  .team_card_container {
    margin-top: 40px;
  }

  .client_list {
    margin: 22px 16px;
    grid-template-columns: repeat(auto-fit, minmax(151px, 1fr));
  }
}
