@import "@/styles/abstracts/variables";

.container {
  display: flex;
  justify-content: center;
  margin-top: 24px;

  .error_content {
    border: 1px solid red !important;
  }

  .left_container_image {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .left_container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 25px;

    h2 {
      font-family: $font-heading;
      font-size: $h2_large;
      font-style: normal;
      font-weight: $font-weight-fw1;
      line-height: $h2_large * 1.25;
      width: 80%;
    }

    h3 {
      font-family: $font-heading;
      font-size: $h4_large;
      font-style: normal;
      font-weight: $font-weight-fw4;
      line-height: $h4_large * 1.5;
    }
  }

  .right_container {
    width: 50%;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 35px;
    background-color: #f2f2f2f2;

    form {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      height: 100%;

      .form_container {
        display: flex;
        flex-direction: column;
        gap: 30px;

        .name_input {
          display: flex;
          gap: 30px;
          align-items: center;

          .first_name {
            width: 50%;

            label {
              font-family: $font-paragraphs;
              width: 100%;
            }

            input {
              width: 100%;
              display: flex;
              padding: 16px 10px;
              align-items: center;
              border: 1px solid #808080;
              font-family: $font-paragraphs;

              &:focus {
                border: 1px solid black;
                outline: none;
              }
            }
          }

          .last_name {
            width: 50%;

            label {
              font-family: $font-paragraphs;
              width: 100%;
            }

            input {
              width: 100%;
              display: flex;
              padding: 16px 10px;
              align-items: center;
              border: 1px solid #808080;
              font-family: $font-paragraphs;

              &:focus {
                border: 1px solid black;
                outline: none;
              }
            }
          }
        }

        .contact_details_input {
          display: flex;
          gap: 30px;

          .email {
            width: 50%;

            label {
              font-family: $font-paragraphs;
              width: 100%;
            }

            input {
              width: 100%;
              display: flex;
              padding: 16px 10px;
              align-items: center;
              border: 1px solid #808080;
              font-family: $font-paragraphs;

              &:focus {
                border: 1px solid black;
                outline: none;
              }
            }
          }

          .phone_number {
            width: 50%;

            label {
              font-family: $font-paragraphs;
              width: 100%;
            }

            input {
              width: 100%;
              display: flex;
              padding: 16px 10px;
              align-items: center;
              border: 1px solid #808080;
              font-family: $font-paragraphs;

              &:focus {
                border: 1px solid black;
                outline: none;
              }
            }
          }
        }

        .query_container {
          label {
            font-family: $font-paragraphs;
            width: 100%;
          }

          textarea {
            width: 100%;
            height: 165px;
            resize: none;
            padding: 16px 10px;
            border: 1px solid #808080;
            font-family: $font-paragraphs;

            &:focus {
              outline: none;
              border: 1px solid black;
            }
          }
        }
      }

      .submit_btn {
        display: flex;
        justify-content: flex-end;
        margin-top: 30px;
      }
    }
  }
}

// custom button styles
.custom_btn {
  button {
    background-color: #424242 !important;

    h5 {
      color: #fff !important;
    }

    span {
      color: #424242 !important;
    }
  }

  &:hover span {
    color: #fff !important;
  }
}

@media screen and (max-width: 1400px) {
  .container {
    .left_container {
      h2 {
        width: 80%;
      }

      h3 {
        font-size: $h4_large;
        width: 80%;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .container {
    display: flex;

    .error_content {
      border: 1px solid red !important;
    }

    .left_container {
      padding-left: 16px;

      h2 {
        width: 100%;
        font-size: $h3_small;
        line-height: $h3_small * 1.5;
      }

      h3 {
        font-size: $h3_small;
        line-height: $h3_small * 1.5;
      }
    }

    .right_container {
      padding: 25px;
      padding-right: 16px;

      form {
        .form_container {
          gap: 15px;

          .name_input {
            gap: 15px;

            .first_name {
              input {
                padding: 12px 8px;
              }
            }

            .last_name {
              width: 50%;

              label {
                font-family: $font-paragraphs;
                width: 100%;
              }

              input {
                padding: 12px 8px;
                align-items: center;
              }
            }
          }

          .contact_details_input {
            display: flex;
            gap: 15px;

            .email {
              width: 50%;

              label {
                font-family: $font-paragraphs;
                width: 100%;
              }

              input {
                padding: 12px 8px;
              }
            }

            .phone_number {
              width: 50%;

              input {
                padding: 12px 8px;
              }
            }
          }

          .query_container {
            label {
              font-family: $font-paragraphs;
              width: 100%;
            }

            textarea {
              padding: 16px 10px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .container {
    display: block;

    .error_content {
      border: 1px solid red !important;
    }

    .left_container_image {
      width: 100%;
    }

    .left_container {
      width: 100%;
      padding: 120px;
      h2 {
        font-size: $h3_small;
        line-height: $h3_small * 1.5;
      }

      h3 {
        font-size: $h3_small;
        line-height: $h3_small * 1.5;
      }
    }

    .right_container {
      width: 100%;
      padding: 25px;
      padding-right: 16px;

      form {
        .form_container {
          gap: 15px;

          .name_input {
            gap: 15px;
            display: block;

            .first_name {
              width: 100%;
            }

            .last_name {
              width: 100%;
              margin-top: 20px;

              label {
                font-family: $font-paragraphs;
                width: 100%;
              }
            }
          }

          .contact_details_input {
            display: block;
            gap: 15px;

            .email {
              width: 100%;

              label {
                font-family: $font-paragraphs;
                width: 100%;
              }
            }

            .phone_number {
              width: 100%;
              margin-top: 20px;
            }
          }

          .query_container {
            label {
              font-family: $font-paragraphs;
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    .left_container {
      width: 100%;
      padding: 50px 25px;

      h2 {
        font-size: $h3_small;
        line-height: 1.5;
      }

      h3 {
        font-size: $h3_small;
        line-height: 1.5;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .container {
    margin-top: 24px;
    .right_container {
      padding: 24px 24px;
    }
    .left_container {
      h3 {
        font-size: $p_large;
        line-height: 1.5;
      }
    }
  }
}
